/* Write your CSS here */
/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px;
}
.cart-container {
  background-color: #b5b9ff;
  height: 70vh;
  width: 50vw;
  border-radius: 10px;
  border-width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.btn-1 {
  height: 30px;
  width: 120px;
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
}
